[Unit]
Description=session manager activity tracking daemon
After=graphical-session.target

[Service]
Type=forking
ExecStart=/usr/bin/sessionmanager monitor start
ExecStop=/usr/bin/sessionmanager monitor stop
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
